<%= render 'layouts/header' %>
<!-- Navigation -->
<% if current_user %>
  <%= render 'layouts/navigation' %>
<% else %>  
  <%= render 'layouts/nav'%>
<% end %>

<%= render 'layouts/alerts' %>
<div class="container">
  <%= yield %>
</div>

<%= render 'layouts/footer' %>
